
body {
    background-color: beige;
}

.support {
    margin: 0 auto;
    width: 10px;
    height: 100px;
    border: black;
    background-color: black;
}

.blackSquare {
    margin: 0 auto;
    width: 90px;
    height: 185px;
    background-color: black;
    padding: 9px;
}

.redLight {
    margin: 0 auto;
    border-radius: 50%;
    background-color: red;
    width: 55px;
    height: 55px; 
}

.yellowLight {
    margin: 0 auto;
    border-radius: 50%;
    background-color: yellow;
    width: 55px;
    height: 55px; 
    
}

.greenLight {
    margin: 0 auto;
    border-radius: 50%;
    background-color: green;
    width: 55px;
    height: 55px; 
}

.glowing {
    box-shadow: 0px 0px 50px #ffffff;

}